@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientLoop {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.fundo-animado-diagonal {
  background-image: linear-gradient(
    135deg, 
    #a5b4fc, 
    #d8b4fe, 
    #bae6fd, 
    #a5b4fc, 
    #d8b4fe, 
    #bae6fd
  );
  background-size: 200% 200%;
  animation: gradientLoop 30s linear infinite;
}